body {
    background-color: #ebebeb;
}

p {
    color: white;
}

.gameContainer {
    display:block; 
    margin: 0 auto; 
    text-align:center;
}

#gameCanvas {
    border: 1px solid #c3c3c3; 
    background-color: white; 
}