body {
    background-color: #ebebeb;
}

p {
    color: white;
}

.game-div {
    display:block; 
    margin: 0 auto; 
    text-align:center;
}

#game-canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #c3c3c3; 
    background-color: white; 
}