body {
    background-color: #ebebeb;
}

p {
    color: white;
}

.game-div {
    top: 0;
    bottom: 0;
    display:block; 
    margin: 0 auto; 
    text-align:center;
}

#game-canvas {
    border: 1px solid #c3c3c3; 
    background-color: white; 
}